<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
      <title>Cars</title>
    </head>
    <body>
    <div class="container">
        <h1>Car Images</h1>
        <br>
        <img src="/images/car1.jpeg" alt="Car 1 Image">
        <img src="/images/car2.jpeg" alt="Car 2 Image">
        <img src="/images/car3.jpeg" alt="Car 3 Image">
        <img src="/images/car4.jpeg" alt="Car 4 Image">
        <br>
        <a href="/cats">Cats page</a>
        <br>
        <a href="/cars/new">Car form</a>
    </div>
    </body>
</html>