<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Car Form</title>
    </head>
    <body>
    <div class="container">
        <h1>Car Form</h1>
        <br>
        <form>
            <div class="form-group">
              <label for="input_type">Car Type:</label>
              <input type="text" class="form-control" id="input_type" name="car_type" placeholder="Enter Car Type...">
            </div>
            <div class="form-group">
                <label for="input_brand">Car Brand:</label>
                <input type="text" class="form-control" id="input_brand" name="car_brand" placeholder="Enter Car Brand...">
            </div>
            <div class="form-group">
                <label for="input_yr">Year Made:</label>
                <input type="number" class="form-control" id="input_yr" name="car_yr" placeholder="Enter Year Made...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </body>
</html>